name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on
jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
      - name: Build project
        run: |
          composer install --no-dev --optimize-autoloader --no-scripts --ignore-platform-reqs
          wget https://github.com/phpDocumentor/phpDocumentor/releases/latest/download/phpDocumentor.phar -O phpDocumentor.phar
          chmod +x phpDocumentor.phar
          ./phpDocumentor.phar run -d ./src -t ./docs
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./docs
